<div class="row">
  <div class="col-xs-12">
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <button
      type="button"
      class="btn btn-priamry"
      style="margin-bottom: 20px"
      (click)="onCreateEvent()"
      *ngIf="!isLoading"
    >
      Create an event
    </button>
    <div *ngIf="eventListResponse">
      <app-event-item
        *ngFor="let event of eventListResponse.eventListDto; let i = index"
        [event]="event"
        [index]="i"
      ></app-event-item>
    </div>
  </div>
</div>
<ul class="nav nav-pills">
  <li class="nav-item" *ngFor="let p of pages; let i = index">
    <a
      class="nav-link"
      (click)="setPage(i, $event)"
      [ngClass]="{ active: i == page }"
      >{{ i }}</a
    >
  </li>
</ul>
