.container {
  display: flex;
  width: 60vw;
  flex-direction: row;
  font-size: large;
  flex-wrap: wrap;
}
.borders {
  border: 2px solid;
  padding: 10px;
}

.datesContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  width: 100%;
  margin-bottom: 20px;
}

.description {
  width: 100%;
  margin-bottom: 20px;
}

.tags {
  width: 100%;
  margin-bottom: 20px;
}

.joinButton {
  width: 100%;
  margin-bottom: 20px;
}
