<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="container" *ngIf="!isLoading">
  <div class="datesContainer">
    <div class="borders">Starts: {{ convertedEvent.dateFrom }}</div>

    <div class="borders">Ends: {{ convertedEvent.dateTo }}</div>
  </div>
  <div class="borders title">
    {{ convertedEvent.name }}
  </div>
  <div class="borders description">
    {{ convertedEvent.description }}
  </div>
  <div class="borders tags">
    tags:
    <div *ngFor="let tag of convertedEvent.tags; let i = index">
      <div>&#8226; &nbsp;{{ tag }}</div>
    </div>
  </div>

  <button
    [disabled]="disabled"
    class="btn btn-primary joinButton"
    (click)="onJoinToEvent()"
  >
    Join!
  </button>
  <button
    [disabled]="!disabled"
    class="btn btn-danger joinButton"
    (click)="onLeaveToEvent()"
  >
    Leave
  </button>
  <button
    *ngIf="visibleEdit"
    class="btn btn-primary joinButton"
    (click)="onEditEvent()"
  >
    Edit
  </button>
  <div>
    Participants:
    <div *ngFor="let user of convertedEvent.userList">- {{ user }}</div>
  </div>
</div>
